body {
  background-color: black;
  color: lime;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0 20px;
}

.fixed-left-margin {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: black;
  z-index: 999;
}

.page-wrapper {
  margin-left: 40px;
  padding: 20px;
}

h1 {
  color: cyan;
  text-shadow: 2px 2px 0 #ff00ff;
}

nav a {
  color: yellow;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: hotpink;
}

footer {
  margin-top: 50px;
  border-top: 2px solid lime;
  padding-top: 10px;
}

ul {
  list-style-type: square;
}

.img-center {
  display: block;
  margin: 10px auto;
  border: 3px dotted lime;
  padding: 4px;
  max-width: 90%;
  width: auto;
}

.img-left {
  float: left;
  display: block;
  margin: 0 20px 20px 0;
  max-width: 50%;
}

form {
  border: 3px solid lime;
  padding: 10px;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Courier New', monospace;
  color: lime;
  background-color: black;
}

input, textarea {
  width: 100%;
  margin: 5px 0;
  background-color: black;
  color: lime;
  border: 2px solid lime;
  padding: 5px;
}

button {
  background-color: lime;
  color: black;
  border: 2px solid lime;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: black;
  color: lime;
}

.video-leftblock {
  display: block;
  margin: 20px 0;
  text-align: left;
}

.video-left-inline {
  float: left;
  margin: 0 20px 20px 0;
  width: 48%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.link {
  color: cyan;
  text-decoration: underline;
  font-weight: bold;
}

.link:hover {
  color: yellow;
}

.link:visited {
  color: cyan;
  text-decoration: underline;
  font-weight: bold;
}

.subtitle-yellow {
  color: yellow;
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.text-box {
  max-width: 700px;
  margin-left: 40px;
  padding: 10px 0;
}

.video-wrapper {
  position: relative;
  width: 20%;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
