<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <div class="fixed-left-margin"></div>

  <div class="page-wrapper">
    <header>
      <h1>{{ site.author.name }}</h1>
      <nav>
        <a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/games">Games</a> |
        <a href="/contact">Contact Me</a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <a class="link" href="https://github.com/{{ site.author.github }}">GitHub</a> | 
      <a class="link" href="https://linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a> | 
      <a class="link" href="https://rickylee.itch.io/{{ site.author.itch }}">Itch</a>
    </footer>
  </div>
</body>
</html>
